<header class="header">
    <div class="container-fluid">
        <div class="header-inner">
            <a class="logo" href="index.html">眼鏡官網</a>
            <nav class="nav">
                <ul class="nav-list d-flex">
                    <li><a class="nav-item" href="optical.html">系列鏡框</a></li>
                    <li><a class="nav-item" href="#">門市據點</a></li>
                    <li><a class="nav-item" href="#">部落格</a></li>
                    <li><a class="nav-item" href="#">常見問題</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>