<nav class="series-menu">
    <div class="container-fluid w-100">
        <ul class="d-flex w-100">
            <li><a class="active" href="#">OPTICAL</a></li>
            <li><a href="#">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
        </ul>
    </div>
</nav>