.footer {
  padding-top: 60px;
  padding-bottom: 32px;
  background-color: #aa0601;
  @include pad {
    padding-top: 48px;
    padding-bottom: 40px;
  }
  @include mobile {
    padding: 24px 0px;
  }
  a,
  p {
    color: #fff;
  }
  &-nav {
    gap: 48px;
    margin-bottom: 36px;
    @include pad {
      max-width: 100%;
      margin-bottom: 32px;

      a {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    // 這裡因為在斷點640時，文字會換行，暫時不會解決，就讓他早點消失
    @media (max-width: 640px) {
      display: none;
    }
    a {
      display: block;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  &-info {
    font-size: 36px;
    display: grid;
    gap: 8px;
    a {
      display: flex;
      align-items: center;
    }
    span {
      font-size: 36px;
      margin-right: 22px;
    }
    @include mobile {
      font-size: 16px;

      span {
        display: inline-block;
        font-size: 18px;
        margin-right: 12px;
      }
    }
  }
  &-social {
    img {
      width: 48px;
      &:hover {
        filter: opacity(0.6);
      }
      @include pad {
        width: 40px;
      }
      @include mobile {
        width: 24px;
      }
    }
    ul {
      gap: 32px;
      @include pad {
        gap: 16px;
      }
    }
  }
  &-footer {
    @include mobile {
      gap: 8px;
      flex-direction: column;
      a {
        margin-left: 0;
      }
    }
    .mb-8 {
      margin-bottom: 20px;
    }
  }
  a:hover {
    color: $secondary;
  }
}

.bottom-border-1 {
  border-bottom: 1px solid #fff;
}
