<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>看得清，才能看得遠-眼鏡網站 | Sherry Wu</title>
  <%- include('./layout/head'); -%>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main>
      <section class="banner">
        <div class="container-fluid d-flex">
          <div class="banner-inner">
            <p>Promise-Desert 2020 早春系列</p>
            <h1>看得清，才能看得遠</h1>
            <button>立即購買</button>
          </div>
        </div>
      </section>

      <section class="major py-20">
        <div class="container">
          <h2 class="h2 text-secondary mb-6">用專業的心，做專業的事</h2>
          <div class="row">
            <div class="col mb-sm-6">
              <div class="card">
                <span class="icon material-symbols-outlined">
                  paid
                </span>
                <h3>單一價格</h3>
                <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
            </div>
            <div class="col mb-sm-6">
              <div class="card">
                <span class="icon material-symbols-outlined">
                  schedule
                </span>
                <h3>20 分鐘即可取件</h3>
                <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
            </div>
            <div class="col mb-sm-6">
              <div class="card">
                <span class="icon material-symbols-outlined">
                  favorite_border
                </span>
                <h3>安心售後服務</h3>
                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <span class="icon material-symbols-outlined">
                  voicemail
                </span>
                <h3>關於鏡片</h3>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="classic py-20">
        <div class="container">
          <h2 class="h2 text-secondary mb-12 mb-sm-6">經典系列鏡框</h2>
          <ul class="row">
            <li class="col">
              <a href="#">
                <div class="card">
                  <img class="mb-2"
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-1.png"
                    alt="OPTICAL">
                  <h3>OPTICAL</h3>
                </div>
              </a>
            </li>
            <li class="col">
              <a href="#">
                <div class="card">
                  <img class="mb-2"
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-2.png"
                    alt="SUNGLASSES">
                  <h3>SUNGLASSES</h3>
                </div>
              </a>
            </li>
            <li class="col">
              <a href="#">
                <div class="card">
                  <img class="mb-2"
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-3.png"
                    alt="FUNCTIONAL">
                  <h3>FUNCTIONAL</h3>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="co-branded py-20">
        <div class="container">
          <h2 class="h2 text-white mb-12 mb-sm-6">聯名設計鏡框</h2>
          <ul class="row">
            <li class="col">
              <a href="#">
                <div>
                  <picture>
                    <source
                      srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png"
                      media="(max-width: 992px)">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1.png"
                      alt="Logo">
                  </picture>
                  <p>DOUBLE A+</p>
                </div>
              </a>
            </li>
            <li class="col">
              <a href="#">
                <div>
                  <picture>
                    <source
                      srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png"
                      media="(max-width: 992px)">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2.png"
                      alt="Logo">
                  </picture>
                  <p>YOUTH</p>
                </div>
              </a>
            </li>
          </ul>

        </div>
      </section>

      <section class="recommend py-20">
        <div class="container">
          <h2 class="h2 text-secondary mb-12 mb-sm-6">顧客推薦</h2>
          <div class="row">
            <div class="col">
              <div class="card">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-1.png"
                  alt="">
                <div class="recommend-inner">
                  <span class="fw-medium mb-2">Jessy</span>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <time datetime="2021-06-20">2021/06/20</time>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-2.png"
                  alt="">
                <div class="recommend-inner">
                  <span class="fw-medium mb-2">凱倫</span>
                  <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  <time datetime="2021-04-18">2021/04/18</time>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-3.png"
                  alt="">
                <div class="recommend-inner">
                  <span class="fw-medium mb-2">悠悠</span>
                  <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  <time datetime="2020-12-25">2020/12/25</time>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-4.png"
                  alt="">
                <div class="recommend-inner">
                  <span class="fw-medium mb-2">Kyuan</span>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <time datetime="2020-10-31">2020/10/31</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="contact py-20">
        <div class="container">
          <h2 class="h2 text-secondary mb-12 mb-sm-6">聯絡我們</h2>
          <p class="mb-2">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form class="form d-flex" action="#">
            <label for="name">姓名</label>
            <input id="name" type="text" name="Name" placeholder="陳小明">
            <label for="tel">聯絡電話</label>
            <input id="tel" type="tel" name="tel" placeholder="0912-345-678">
            <label for="email">電子郵件</label>
            <input id="email" type="email" name="email" placeholder="example@email.com">
            <label for="remark">備註</label>
            <textarea class="mb-4" rows="8" id="remark" name="remark" placeholder="請輸入您的意見"></textarea>
            <div class="mb-12">
              <input id="check" type="checkbox" name="check">
              <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </div>
            <input class="form-but" type="submit" value="確認送出">
          </form>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>