<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>看得清，才能看得遠-系列鏡框 | Sherry Wu</title>
    <%- include('./layout/head'); -%>
</head>

<body>
    <%- include('./layout/header'); -%>

        <main class="series">
            <%- include('./layout/series-menu'); -%>

                <div class="series-banner d-flex">
                    <div class="w-50">
                        <picture>
                            <source
                                srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png"
                                media="(max-width: 768px)">
                            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-1.png"
                                alt="Logo">
                        </picture>
                    </div>
                    <div class="w-50">
                        <picture>
                            <source
                                srcset="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png"
                                media="(max-width: 768px)">
                            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-2.png"
                                alt="Logo">
                        </picture>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="text-center py-20">
                        <h1 class="fz-10-5 fz-sm-6 fw-medium">Celluloid Combi</h1>
                        <p class="fz-7 fz-sm-6 mb-8">賽璐珞鈦金屬混合鏡框</p>
                    </div>

                    <div class="row mb-20">
                        <div class="col">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-5.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-sm-none">
                            <div>
                                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-6.png"
                                    alt="">
                                <div class="d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="text-primary fw-medium">NTD3,490</p>
                                </div>
                                <div class="d-flex">
                                    <div class="series-color gray me-2"></div>
                                    <div class="series-color brown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./layout/series-subnav'); -%>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>